.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 1px 6px 3px 6px;
    background-color: rgb(85, 124, 213);
    border: 1px solid rgb(255, 255, 255); border-radius: 2px;
    color: #fff;
    position: fixed;
    display: none;
    max-width: 20em;
}